.product-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  
    .product-item-image {
      margin-right: 50px;
  
      .product-image {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
    }
  
    .product-section-details {
      display: flex;
      flex-direction: column;
  
      .product-title-right {
        font-size: 24px;
        margin-bottom: 10px;
      }
  
      .product-description-right {
        font-size: 16px;
        color: #333;
        margin-bottom: 10px;
      }
  
      .product-price-right {
        font-size: 20px;
        color: #00b894;
        margin-bottom: 10px;
      }
  
      .product-category-right {
        font-size: 16px;
        color: #555;
        margin-bottom: 20px;
      }
  
      .add-to-cart-button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: #00b894;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
        transition: background-color 0.3s;
  
        &:hover {
          background-color: #009688;
        }
      }
    }
  }
  